OLTextJoinerBoltEmit=6
OLMemcachedDenormalizationStreamBolt=1
OLMemcachedStreamIdAppendBolt=6
MemcachedBolt_Text=6
OLNGramWordSplitterBolt=6
OLNGramSentenceJoinerBoltEmit=6
OLNgramSentenceBoltEmit_NGram=6
MemcachedBolt_Ngram=6
OLESTrendingListPersisterBolt=6

MemcachedBolt_Sentiment=6
OLSubtopicsJoinerBolt=6
OLSubtopicsSentenceBoltTopEmit=6
MemcachedBolt_Subtopics=6

MemcachedBolt_Influencers=6
OLGeoLocationJoinerBolt=6
MemcachedBolt_GeoLocation=6
OLDenormalizationMemcachedJoinerBolt=4
OLBatchForEachAndClearListBolt=4
OLDenormalizationJoinerBolt=1

OLMediaBatchPublisherBolt=2

OLGeoLocationBatchStreamBolt=4
OLDenormalizationJoinProcessorBoltSimple=4
OLSimpleJoinBolt=4

# new media related
OLMediaSplitToItemBolt=2
OLMediaRollingScoreBolt=2
OLMediaIntermediateScoreRankingBolt=1
OLMediaTotalScoreRankingsBolt=1
OLMediaPostRollingNormalizerBolt=2


# new stream related
OLInfluencerMessageSplitterBolt=2

OLInfluencersBolt=2
OLTopInfluencersBoltEmit=2

# tagger related
OLMessageInfluencerTaggerBolt=2
OLMessageGeoLocationTaggerBolt=2
OLMessagePhraseTaggerBolt=2
OLMessageSubTopicsTaggerBolt=2
OLMessageSentimentTaggerBolt=2
OLTaggerStreamJoinPostNormalizerBolt=2
OLTaggesMessageESBolt=2
#must be 1
OLTaggerStreamJoinBolt=2

#GeoLocation relate
OLGeoLocationResolverBolt=4
# batch bolt - should it be one ???
OLSimpleCollectBatchBolt=2
OLGeoLocationBatchNormalizer=2
OLInfluencerHbasePutBolt=2
OLInflucencersESPutBolt=2
OLTopGeoLocationBoltEmit=2

OLGeoLocationRollingCountBolt=1
OLGeoLocationIntermediateRankingsBolt=1
OLGeoLocationTotalRankingsBolt=1
OLGeoLocationPostRollingCounterNormalizerBolt=1

# roling count related
OLSentenceListSplitterBolt=2
OLWordCleanerBolt=2
OLPhraseSplitterBolt=2

OLPhraseRollingCountBolt=2
OLPhraseIntermediateRankingsBolt=1
OLPhraseTotalRankingsBolt=1
OLPhraseTextCounterNormalizerBolt=2
OLTopPhraseTextTrendingEsBolt=2

#topics
#OLNounExtractorPOSTaggerBolt=4
OLNounExtractorEnglishPOSTaggerBolt=2
OLNounExtractorKoreanPOSTaggerBolt=2
OLNounExtractorJapanesePOSTaggerBolt=2


OLSubTopicsRollingCountBolt=2
OLSubTopicsIntermediateRankingsBolt=1
OLSubTopicsTotalRankingsBolt=1
OLSubTopicsTextCounterNormalizerBolt=2
OLTopSubtopicsTextTrendingEsBolt=2

OLSentimentBolt=2
OLSentimentSentenceSplitterBolt=2
OLSentimentSentenceProcessingBolt_ko=2
OLSentimentSentenceProcessingBolt_en=2
SentimentAverageCounterBolt=2
OLSentimentNormalizerBolt=2
OLSentimentESPersister=2

#Web Socket related
OLWSMediaPublisherBolt=2
OLWSTrendingPhrasesPublisherBolt=4
OLWSInfluencersPublisherBolt=4
OLWSSentimentPublisherBolt=2
OLWSSubtopicsPublisherBolt=4
OLWSGeoLocationPublisherBolt=4


#Crawler related 
# analitycs crawlers
OLPrepareCrawlerOutputForSentimentBolt=2
OLPrepareCrawlerOutputForInfluencersBolt=2
OLPrepareCrawlerOutputForTextBolt=2
OLPrepareCrawlerOutputForMediaBolt=2

# crawlers topology
OLCrawlerSetupBolt=2
OLRecursiveWebCrawlerMainPagingExtractorBolt=2
OLRecursiveWebCrawlerMainPagingExtractorBolt_PAGING=2
OLEsCrawlerOutputPersistBolt=2
OLCrawlerOutputSendCommandBolt=2

OLRawStreamESPersisterBolt=2

# FB MEdia
OLFacebookPageIdsSplitter=2
OLFacebookAlbumDiscoveryBolt=2
OLFacebookPagePhotoDiscoveryBolt=2
OLFacebookAlbumPhotoDiscoveryBolt=2


# media
OLEsMediaPersisterBolt=2

# RAW tagging - Phoenix related
OLRawTweetSplitterBolt=2
OLGeoLocationRawTaggerBolt=2
OLSentimentRawTaggerBolt=2
OLTaggerRamMessagesStreamJoinBolt=2
OLRawTaggedStreamJoinPostNormalizerBolt=2
OLPhoenixRawTweetTaggedMessagePersistBolt=2
OLPhoenixPhrasePeristerBolt=2
OLPhoenixTopicPeristerBolt=2

# Storm Twitter Streaming bolts
OLTwitterStreamParserBolt=2
OLTwitterStreamExtractNormalizerBolt=2

# facebook related
FacebookPostOLSentimentSentenceProcessingBolt_ko=1
FacebookPostOLSentimentSentenceProcessingBolt_en=1
FacebookCommentOLSentimentSentenceProcessingBolt_ko=1
FacebookCommentOLSentimentSentenceProcessingBolt_en=1
OLPhoenixFbCommentPersisterBolt=2
OLPhoenixFbPostPersisterBolt=2
OLPhoenixFbUserPersisterBolt=2
OLPhoenixFbPagePersisterBolt=2
OLFacebookPostCommentProcessorBolt=2
OLFacebookPostCommentExtractorBolt=2

# fb realtime
OLFacebookRtUpdateProcessorBolt=1
OLFacebookRtCommentQueryExecutor=1
OLFacebookRtPostQueryExecutor=1
OLFacebookRtPageQueryExecutor=1

